html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  scroll-behavior: smooth;
  
}

#carouselExampleIndicators{
  width: 98%;
  margin-left: 1%;
    display: block;
}
.card-group{
  width: 98%;
  margin-left: 1%;
}

.container_swap .div_left {
  width: 50px;
  float: left;
  padding-left: 400px;
  padding-top: 30px;
}

.container_swap .div_center {
  width: 50px;
  float: left;
  padding-left: 38px;
  padding-top: 30px;
  border: none;
  background-color: none;
}




/* prodcut */
h1{
  text-align: center;
  font-weight: bold;
  margin: 6% 0 1% 0;
}
.intro1{
  font-style: italic;
  font-size: 14px;
  opacity: 0.5;
}
.intro2{
  color: red;
  font-size: 18px;
  font-weight: bolder;
  float: left;
}
.intro3{
  float: left;
  /* border: none; */
  /* background-color: red; */
  /* color: white; */
  margin-left: 280px;
  margin-bottom: 15px; 
   margin-top: -30px;
}
.intro4{
 border: none; 
   background-color: red;
   color: white;
   height: 40px;
}
#footer{
  width: 98%;
  margin-left: 1%;
  background-color: aqua;
}
.holder{
  background-color: #ECEDEF;
  border: none;
  margin: 0 10px 0 10px;
  padding: 15px;
  font-size: 14px;
  opacity: 0.5;
}
.holder:hover {
  background-color: #F1F2F3;
}
.icon{
  float: left;
  margin-top: 45px;
  font-size: 16px;
}
.card-img-top{
  width: 95%;
  height: 75%;
}
.decor{
  border: 1px black solid;
  margin-left: -15px;
  padding: 15px;
  text-align: center;
}
.advertise{
  font-size: 20px;
}
#img1{
  color: black;
}
#img1:hover {
  color: brown;
}
#img2{
  color: black;
}
#img2:hover {
  color: brown;
}
#img3{
  color: black;
}
#img3:hover {
  color: brown;
}
#img4{
  color: black;
}
#img4:hover {
  color: brown;
} */

/* sideNav */
 #sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px;
  background: white;
  z-index: 2;
  transition: right 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
#menuBtn{
  
  width: 50px;
  height: 50px;
  background: none;
  /* text-align: center; */
  right: 30px;
  position: fixed;
  top: 30px;
  border-radius:3px ;
  z-index:3;
  cursor: pointer;
  /* background-color: aqua; */
  margin: 0 -15px -15px -15px ;
  padding-right: 30px;
}
#menuBtn img {
  width:30px ;
  margin: 10px 0 0 20px;
} */

/* scroll */
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}




/* cart */
table {
  width: 70%;
  border-collapse: collapse;
  margin-left: 30%;
}

th {
  background-color: #999;
  padding: 10px;
}

th,
td {
  border: 1px #CCC solid;
  text-align: center;
}

td div {
  width: calc(100% - 20px);
  padding: 0px 10px;
  text-align: right;
}

th div {
  width: calc(100% - 10px);
  padding: 0px 5px;
  text-align: right;
  font-size: 1.5rem;
}

td img {
  width: 100px;
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}








































